body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 30%;
}

.btn {
  width: 350px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.btn button {
  height: 40px;
  width: 120px;
  border-radius: 20px;
}

.content h2 {
  border: none;
  outline: none;
  box-shadow: 0px 0px 4px 1px rgb(56, 162, 189);
  text-align: center;
  margin-top: 60px;
}

.copycode {
  padding-top: 15px;
  border-left: 1px solid black;
  padding-left: 20px;
  height: 40px;
}
